POSTGRES_DB=garage
POSTGRES_USER=garage_user
POSTGRES_PASSWORD=change-me-db-password

JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret

CORS_ORIGIN=https://mecano.nav.ovh
ALLOW_PUBLIC_REGISTRATION=false

APP_HTTP_PORT=80
